@*@model HeroesAndDragons.Models.Hero*@
@*@using HeroesAndDragons.Models;*@
@*@model HeroesAndDragons.Models.Hero;*@
@*@model dynamic*@
@*@model List<Hero>*@
@*@model dynamic*@
@using HeroesAndDragons.Models;
@model IndexViewModel

@*@{
        ViewData["Title"] = "CreateHero";
    }*@

<h1>CreateHero</h1>

<form asp-action="CreateHero" asp-controller="Home">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label @*asp-for="Name"*@ title="Create a hero!">Create a hero!</label>
        <input name="Name" @*asp-for="Name"*@ class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Weapon</th>
        <th>Date</th>
    </tr>
    @foreach (var item in Model.Heroes)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Weapon</td>
            <td>@item.Date</td>
        </tr>
    }
</table>

@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="CreateHero"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-info btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="CreateHero"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-info btn">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}
@*<partial name="_CreateHero" />*@