@model PaginatedList<HeroesAndDragons.Models.Hero>
@{
    ViewData["Title"] = "CreateHero";
}

<h1>HeroList</h1>

<!--
<form asp-action="CreateHero" asp-controller="Home">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group" asp-validation-summary="All">
        <label @*asp-for="Name"*@ title="Create a hero!">Create a hero!</label>
        <input id="Name" name="Name" @*asp-for="Name"*@ class="form-control" />
        <span @*asp-validation-for="Name"*@ class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
-->
<form asp-action="HeroList" class="form-inline" method="get">
    <p>
        Find by Hero name: <input type="text" name="searchbyFilter" class="form-control" placeholder="Name?" value="@ViewData["CurrentFilterByName"]" />
        <input type="submit" value="Search" class="btn btn-info" />
    </p>
</form>
<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th><a asp-action="HeroList" asp-route-sortOrder="@ViewData["NameSortParm"]">Name</a></th>
        @*<th>@Html.ActionLink("Name", "CreateHero", new { sortOrder = ViewBag.NameSortParam })</th>*@
        <th>Weapon</th>
        <th>Date</th>
    </tr>
    @foreach (var item in Model@*.Heroes*@)
{
<tr>
    <td>@item.Id</td>
    <td>@item.Name</td>
    <td>@item.Weapon</td>
    <td>@item.Date</td>
</tr>
}
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
@if (Model.HasPreviousPage)
{
    <a asp-action="HeroList"
       asp-route-page="@(Model.PageIndex - 1)"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       class="btn btn-info btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.HasNextPage)
{
    <a asp-action="HeroList"
       asp-route-page="@(Model.PageIndex + 1)"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       class="btn btn-info btn">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}
