@model PaginatedList<HeroesAndDragons.Models.Dragon>

@{
    ViewData["Title"] = "ListOfDragons";
}

<h3>ListOfDragons</h3>

<p>
    <a asp-action="CreateDragon">Create new dragon!</a>
</p>

<form asp-action="ListOfDragons" class="form-inline" method="get">
    <p>
        Find dragon by name: <input type="text" name="searchbyFilter" class="form-control" placeholder="Name?" value="@ViewData["CurrentFilterByName"]" />
        <input type="submit" value="Search" class="btn btn-info" />
    </p>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>            
            <th><a asp-action="ListOfDragons" asp-route-sortOrder="@ViewData["NameSortParm"]">Name</a></th>          
            <th>HitPoint</th>
            <th>Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HitPoint)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
@if (Model.HasPreviousPage)
{
    <a asp-action="ListOfDragons"
       asp-route-page="@(Model.PageIndex - 1)"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       class="btn btn-info btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.HasNextPage)
{
    <a asp-action="ListOfDragons"
       asp-route-page="@(Model.PageIndex + 1)"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       class="btn btn-info btn">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}